.hide_start {
  transition: all 0.4s linear;
  display: none;
}
.hide_start_visually {
  transition: all 0.4s linear;
  opacity: 0;
}
.hide_table {
  transition: all 0.4s linear;
  display: none;
}
.hide_table_visually {
  transition: all 0.4s linear;
  display: none;
}
.card {
  width: 100%;
  margin: 10% 0 0 0;
  border-radius: 20px;
}

.button {
  border-radius: 10px;
}

.table {
  overflow: scroll;
  height: 700px;
}
table {
  width: 100%;
}
.update input + select {
  width: 600px;
}

.hide {
  display: none;
}
